html {
    scroll-behavior: smooth;
}
    
body{
    margin: 0;
    box-sizing: border-box;
    background: rgb(37, 39, 42);
}

*, *::after, *::before {
    box-sizing: inherit;
}

section {

    width: 100vw;
    height: 100vh;
}

.container{
    margin: 0 auto;
    padding: 40px 0;
    height: 100%;
    width: calc(100% - 80px);
    /* max-width: 1800px; */
}

.slider-container{
    height: 100%;
    /* background-color: crimson; */
}



.slide-box{
    height: 100%;
}

.slide-box input{
    display: none;
}

.slides{
    position: relative;
    height: 100%;
}


.slide1, .slide2, .slide3, .slide4{
    position: fixed;
    width: calc(100% - 80px);
    /* max-width: 1800px; */
    height: 100%;
}

.images{
    
    width: 100%;
    height: calc(100% - 200px);
    

}

.image1{
    background: url("assets/img/1.jpg") no-repeat;
}

.image2{
    background: url("assets/img/2.jpg") no-repeat;
}

.image3{
    background: url("assets/img/3.jpg") no-repeat;
}

.image4{
    background: url("assets/img/4.jpg") no-repeat;
}


.slides div{
    
    transition: 100ms ease-in-out;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    border-radius: 5%;
} 
.slides p{
    /* margin-left: 40px; */
    width: 400px;
    background: rgb(37, 39, 42);
    transition: 100ms ease-in-out;
    color: white;
    font-family: "Roboto" sans-serif;
    font-size: 2rem;
}
.slide1 {
    opacity: 1;
    /* background: url("assets/img/1.jpg") no-repeat; */
}
.slide2 div{
    opacity: 0;
    background-position-x: 400px;
    /* width: 90%; */
    /* transform: translateX(40px); */
    
}
.slide3 div{
    opacity: 0;
    background-position-x: 400px;
    /* width: 90%; */
    /* transform: translateX(40px); */
}
.slide4 div{
    opacity: 0;
    background-position-x: 400px;
    
    /* width: 90%; */
    /* z-index: 0;
    transform: translateX(40px); */
}

.slide2 p{
    opacity: 0;
    /* background-position-x: 400px; */
    /* width: 90%; */
    transform: translateX(400px);
    
}
.slide3 p{
    opacity: 0;
    /* background-position-x: 400px; */
    /* width: 90%; */
    transform: translateX(400px);
}
.slide4 p{
    opacity: 0;
    transform: translateX(400px); 
}
    

.radio-button input:checked ~ .checkmark {
    background-color: rgb(127, 170, 232);
  }

#first-square:checked ~ .labels > .bullet1 > .checkmark {
    background-color: rgb(127, 170, 232);
}

#second-square:checked ~ .labels > .bullet2 > .checkmark {
    background-color: rgb(127, 170, 232);
}

#third-square:checked ~ .labels > .bullet3 > .checkmark {
    background-color: rgb(127, 170, 232);
}

#fourth-square:checked ~ .labels > .bullet4 > .checkmark {
    background-color: rgb(127, 170, 232);
}
/* 
#third-square:checked ~ .labels > .bullet3 > .checkmark:after {
    display: block;
}

#fourth-square:checked ~ .labels > .bullet4 > .checkmark:after {
    display: block;
}


#first-square:checked ~ .labels > .bullet1 > .checkmark:after {
    display: block;
}

#second-square:checked ~ .labels > .bullet2 > .checkmark:after {
    display: block;
}

#third-square:checked ~ .labels > .bullet3 > .checkmark:after {
    display: block;
} */

/* #fourth-square:checked ~ .labels > .bullet4 > .checkmark:after {
    display: block;
} */

#second-square:checked ~ .slides > .slide2 > div{
    opacity: 1;
    background-position-x: left;
    /* transform: translateX(0px); */
    /* width: calc(100% - 40px); */
}

#third-square:checked ~ .slides > .slide3 > div{
    opacity: 1;
    background-position-x: left;
    /* transform: translateX(0px); */
    /* width: calc(100% - 40px); */
    
}

#fourth-square:checked ~ .slides > .slide4 > div{
    opacity: 1;
    background-position-x: left;
    /* transform: translateX(0px); */
    /* width: calc(100% - 40px); */
}

#second-square:checked ~ .slides > .slide1 > div{
    opacity: 0;
    background-position: 31800px;
    /* transform: translateX(0px); */
    /* width: calc(100% - 40px); */
}

#third-square:checked ~ .slides > .slide1 > div{
    opacity: 0;
    background-position-x: 31800px;
    /* transform: translateX(0px); */
    /* width: calc(100% - 40px); */
    
}

#fourth-square:checked ~ .slides > .slide1 > div{
    opacity: 0;
    background-position-x: 31800px;
    /* transform: translateX(0px); */
    /* width: calc(100% - 40px); */
}

#second-square:checked ~ .slides > .slide2 > p{
    opacity: 1;
    transform: translateX(0px);
    
}

#third-square:checked ~ .slides > .slide3 > p{
    opacity: 1;
    transform: translateX(0px);
    
    
}

#fourth-square:checked ~ .slides > .slide4 > p{
    opacity: 1;
    transform: translateX(0px);
    
}

.labels{
    position: fixed;
    bottom: 85px;
    right: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    
}

.bullets{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

.bullets:hover .checkmark{
    background-color: rgb(53, 87, 161);

}
.bullets:hover{
    cursor: pointer;
}

.bullets:active .checkmark{
    background-color: teal;
}

.bullets:active {
    cursor: url("assets/pointer/4.cur"), auto;
}
/* 
.bullets .checkmark:after {
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background: black;
  } */







.squares{
    position: fixed;
    right: 100px;
    bottom: 100px;
    height: 10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}


  
  .checkmark {
    position: absolute;
    /* top: 4px; */
    /* left: 0; */
    height: 25px;
    width: 25px;
    background-color: rgb(37, 39, 42);
    border-radius: 12.5px;
    border: solid rgb(127, 170, 232);
    border-width: 4px;
  }
  
/*   
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  } */
  
  @media (max-width: 568px){
    .container{
        padding: 15px 0;
    }
    .labels{
        right: calc(50% - 105px);
        bottom: 50px;
    }
    .slides p {
        margin-top: 60px;
        font-size: 1rem;
    }
    .images{
        height: calc(100% - 120px);
    }
  }
  
  @media (orientation:landscape) and (max-width: 568px){

  }





